.article {
    padding-bottom: 10px;
}

.article img {
    width: 100%;
}

.article h2 {
    font-size: 1.0em;
    font-weight: bold;
}

.article p {
    font-size: 0.9em;
    padding-left: 5px;
}

.article li {
    font-size: 0.9em;
}

.article a {
    color: #1356E8;
    text-decoration: none;
}

.article a.title {
    font-weight: bold;
}

.article a:hover {
    text-decoration: underline;
}

.article a:visited {
    color: #1356E8;
    text-decoration: none;
}