.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:0px;
    min-height:110px;
    max-width:1500px;
    color: white;
    background-color:#2F5981;    
}

.header img.profile {
    padding:8px;
    height:110px;
    float:left;
}

.header img.kw_logo {
    padding:8px;
    height:70px;
}

.header div {
    padding-bottom: 20px;
}

.header div.unbreakable {
    white-space: nowrap;
}

.header div.details {
    padding-top:6px;
    flex-grow:1;
}

.header div.title {
  padding-top: 10px;
  font-size: 1.3em;
  text-transform: uppercase;
  display: inline;
}

.header div.subtitle {
    display: inline;
}

.header div.highlight {
    color: orange;
    font-size: 0.9em;
}

.header div.byline {
    font-size: 0.9em;
    display: inline;
}

.header a {
    color: white;
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
}

.header a:visited {
    color: white;
}
